<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

{{/* SEO */}}
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta name="author" content="{{ .Site.Params.author }}" />
<link rel="canonical" href="{{ .Permalink }}" />

{{/* Open Graph */}}
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{/* Fonts */}}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="{{ .Site.Params.fontUrl }}" rel="stylesheet" />

{{/* Styles: shared base first, then persona override */}}
<link rel="stylesheet" href="/css/shared.css" />
<link rel="stylesheet" href="/css/persona.css" />

{{/* Favicon */}}
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
